.container {
  width: 100%;
  height: fit-content;
  min-height: 400px;
  padding-top: 50px;
  overflow: visible;
}

.child {
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
