.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.rowBanner {
  background-color: #7a6b6b86;
  padding: 30px;
  border-radius: 4px;
  width: 100%;
  max-width: 640px;
}

.rowBanner * {
  color: white;
}
