@import "~antd/dist/antd.css";

.mainApp {
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  position: relative;
}

.switch {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50px;
  z-index: 1000;
}
